<nav class="navbar navbar-expand-xxl navbar-dark bg-dark" aria-label="Seventh navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">YB Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleXxl" aria-controls="navbarsExampleXxl" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleXxl">
        <ul class="navbar-nav me-auto mb-2 mb-xl-0">
          <li class="nav-item">
            <a class="nav-link " href="{% url 'index' %}">Anasayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'about' %}">Hakkımızda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href ="{% url 'article:article' %}">Makaleler</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'article:dashboard' %}">Kontrol Paneli</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  text-danger" href="{% url 'user:logout' %}">Çıkış Yap</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link  text-success" href="{% url 'user:login' %}">Giriş Yap</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link  text-info" href="{% url 'user:register' %}">Kayıt Ol</a>
          </li>
      </ul>
        <form role="search">
          <input class="form-control" type="search" placeholder="Ara..." aria-label="Search">
        </form>
      </div>
    </div>
  </nav>