{% extends "layyout.html" %}

 {% block body %}
 
 <h3>Hakkımızda</h3>
 <hr>

 <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam nemo tenetur necessitatibus eligendi inventore aliquid doloribus ea quaerat saepe exercitationem labore praesentium optio accusantium, corporis nihil molestias veniam quae ipsam natus. Architecto quo omnis quasi maiores amet at incidunt exercitationem, velit dignissimos nam dicta animi, atque consequuntur veniam ipsa? Veniam voluptates deserunt corporis asperiores rem. Adipisci itaque corporis ipsam, fuga tempore cupiditate quo, dolorem at perspiciatis quae excepturi sunt pariatur quia, ullam consequatur hic rem et in. Non corrupti voluptate laboriosam consectetur eligendi, repellendus optio sed, eos quas nulla nemo possimus eum facere iusto ab ullam eius illo, quisquam asperiores. Vero, quibusdam veniam inventore qui ab aliquid, obcaecati excepturi voluptatem, atque facilis laborum tempora quam.
 </p>
 
 {% endblock body %}